Options -Indexes

<IfModule mod_rewrite.c>

	RewriteEngine On

	# Rewrite base which shouldnt be required
	#RewriteBase /QuickMVC

	# Allow access only to the public folder and redirect all requests there
	RewriteCond %{REQUEST_URI} !public
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ public/$1 [L]

  # If nothing was found in the public folder redirect to the index
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^public/(.*)$ index.php?_quickmvc[route]=$1 [QSA,L]

</IfModule>
